<div>
    <h2>Server Connection</h2>
    <!--
    <div id="status" >
        <mat-chip-list color="primary">
          <mat-chip id="online" *ngIf="this.wsService.connected">
            {{ this.wsService.getStatus() }}
          </mat-chip>
          <mat-chip id="offline" *ngIf="!this.wsService.connected">
            {{ this.wsService.getStatus() }}
          </mat-chip>
        </mat-chip-list>
    </div>
  -->
    <div id="status"> 
      <mat-card id="online" *ngIf="this.wsService.connected" >
        {{ this.wsService.getStatus() }}
      </mat-card>
    <mat-card id="offline" *ngIf="!this.wsService.connected"  >
      {{ this.wsService.getStatus() }}
    </mat-card>
    </div>

    </div>
          <form (ngSubmit)="onSubmit()" [formGroup]="form">
  
      <div class="form-row" *ngFor="let element of elements">
        <app-trans [element]="element" [form]="form"></app-trans>
      </div>
      <div class="row">
        <button  class="col-sm" type="reset" (click)="onReset()">New Connection</button>

        <button class="col-sm" type="submit" [disabled]="!form.valid">Connect</button>

      </div>

    </form>
  <!--
    <div *ngIf="payLoad" class="form-row">
      <strong>Saved the following values</strong><br>{{payLoad}}
    </div>
  </div>
-->