<div>
    <h2>Server Connection</h2>

    <form (ngSubmit)="onSubmit()" [formGroup]="form">
  
      <div class="form-row" *ngFor="let element of elements">
        <app-trans [element]="element" [form]="form"></app-trans>
      </div>
      <div class="row">
        <button  class="col-sm" type="reset" (click)="onReset()">New Connection</button>

        <button class="col-sm" type="submit" [disabled]="!form.valid">Connect</button>

      </div>

    </form>
  
    <div *ngIf="payLoad" class="form-row">
      <strong>Saved the following values</strong><br>{{payLoad}}
    </div>
  </div>